<br>
<br>
<br>
<h1>Sígueme:</h1>

<div class="grid gap-80">
  <div class="p-2 g-col-12 d-flex justify-content-center gap-2">
    <a class="navbar-brand" target= "blank" href="https://twitter.com/daniela83861779">
      <i class="bi bi-twitter" style="font-size: 4rem"></i>
    </a>
    <a class="navbar-brand" target= "blank"href="https://www.instagram.com/cristttyyna/">
      <i class="bi bi-instagram" style="font-size: 4rem"></i>
    </a>
    <a class="navbar-brand" target= "blank" href="https://www.facebook.com/Nannyytta/">
      <i class="bi bi-facebook" style="font-size: 4rem"></i>
    </a>
    <a class="navbar-brand" target= "blank" href="https://github.com/Dannyytta">
      <i class="bi bi-github" style="font-size: 4rem"></i>
    </a>
  </div>
</div>

