<br>
<br>
<br>
<h1 Class= "color-texto" >Experiencia</h1>
<br>
<p class="text-secondary"> Sin entender como llegué aquí, siento que fue parte destino, parte aburrimiento. Tenía tiempo y podía hacerme de más tiempo para cumplir esta meta. No es extraño en mí, verme haciendo varias cosas que no tienen relación entre ella, por lo menos no una directa. 
Soy itinerante y esa itinerancia me llevó a aquí, a este ahora. Son las tantas de la noche, mis niños y marido duermen y yo… disfrutando este momento de soledad y de estudio. Sintiéndome a ratos frustrada y otros muy motivada. Aprendiendo con este desafío que me propuse, cosas de mi que no tenía idea, descubriendo nuevos gustos y poniendo a prueba mi cerebro.
<br><br>Cosas q no esperaba para nada de esta experiencia:
El grupo humano que se formó.  Encantada de conocer sus personalidades, sus propuestas, sus historias. 
Soy una gran fan de las relaciones humanas, nunca había tenido una experiencia online de esta índole, en donde hay tanto feeling por medio de una “videollamada” con extraños. <br><br>
Bueno, cerrando y a lo q vinimos… a ver el book de la Danny. Solo comentar que más allá de lo difícil que ha sido para mí, entender como relacionar todo con el todo (respecto a los contenidos) he disfrutado cada error, cada hra de esta experiencia. Mis trabajos; creo q por ahí nomás. El tiempo apremia, por tanto, he entregado lo requerido por el programa-estudio y no, lo que me hubiera gustado entregar. 
 </p>
<p class="text-secondary"> PDT: Pensé q la pág se vería shorísima. Resutó ser feísima. jajajajaja</p>
