
<div class="mx-auto p-2" style="width: 200px;">
  <h1>Memorables</h1>
</div>
<br>
  <div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
    <div class="card">
    <div class="bg-dark p-2 text-dark bg-opacity-75">
      <img src="<%= asset_path "pag1.jpg" %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Meet&Coffe</h5>
        <p class="card-text">Unos de los trabajos que seguramente todos detestan. Solo el nombre me da escalofríos</p>
        <a href="#" class="btn btn-outline-primary"><h5 class= "texto-boton">RUN TO THE SITE</h5></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <div class="bg-dark p-2 text-dark bg-opacity-75">
      <img src="<%= asset_path "pagina2.jpg" %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iguanas</h5>
        <p class="card-text">Es gracioso ir viendo los trabajos y recordar lo atrapada q estaba con algo ... medianamente simple. Obvio q relacionado con la informacion que hoy manejo. No es q sea seca, claramente!</p>
        <a href="#" class="btn btn-outline-primary"><h5 class= "texto-boton">RUN TO THE SITE</h5></a>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <div class="bg-dark p-2 text-dark bg-opacity-75">
      <img src="<%= asset_path "pagina3.jpg" %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Suricata</h5>
        <p class="card-text">Que dificil fue integrar esas "cards" y que quedaran como esperaba que quedaran. Hoy casi ni caxé como lo hice (creo que llegué y pegué bien el código nada más). Igual tenia una difícultad enorme... Recuerdo como sufrí con los íconos y su pocisionamiento.</p>
        <a href="#" class="btn btn-outline-primary"><h5 class= "texto-boton">RUN TO THE SITE</h5></a>
      </div>
    </div>
    </div>
  </div>
</div>
<br>





